<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="coverlet.collector" />
      <package pattern="diffplex" />
      <package pattern="humanizer.core" />
      <package pattern="microsoft.aspnetcore.app.ref" />
      <package pattern="microsoft.bcl.asyncinterfaces" />
      <package pattern="microsoft.build.tasks.git" />
      <package pattern="microsoft.codeanalysis" />
      <package pattern="microsoft.codeanalysis.analyzer.testing" />
      <package pattern="microsoft.codeanalysis.analyzers" />
      <package pattern="microsoft.codeanalysis.codefix.testing" />
      <package pattern="microsoft.codeanalysis.coderefactoring.testing" />
      <package pattern="microsoft.codeanalysis.common" />
      <package pattern="microsoft.codeanalysis.csharp" />
      <package pattern="microsoft.codeanalysis.csharp.analyzer.testing" />
      <package pattern="microsoft.codeanalysis.csharp.analyzer.testing.xunit" />
      <package pattern="microsoft.codeanalysis.csharp.codefix.testing" />
      <package pattern="microsoft.codeanalysis.csharp.codefix.testing.xunit" />
      <package pattern="microsoft.codeanalysis.csharp.coderefactoring.testing" />
      <package pattern="microsoft.codeanalysis.csharp.coderefactoring.testing.xunit" />
      <package pattern="microsoft.codeanalysis.csharp.workspaces" />
      <package pattern="microsoft.codeanalysis.testing.verifiers.xunit" />
      <package pattern="microsoft.codeanalysis.visualbasic" />
      <package pattern="microsoft.codeanalysis.visualbasic.workspaces" />
      <package pattern="microsoft.codeanalysis.workspaces.common" />
      <package pattern="microsoft.csharp" />
      <package pattern="microsoft.netcore.app.ref" />
      <package pattern="microsoft.netcore.platforms" />
      <package pattern="microsoft.netcore.targets" />
      <package pattern="microsoft.sourcelink.common" />
      <package pattern="microsoft.sourcelink.github" />
      <package pattern="microsoft.visualbasic" />
      <package pattern="microsoft.visualstudio.composition" />
      <package pattern="microsoft.visualstudio.composition.netfxattributes" />
      <package pattern="microsoft.visualstudio.validation" />
      <package pattern="microsoft.win32.primitives" />
      <package pattern="microsoft.win32.registry" />
      <package pattern="microsoft.windowsdesktop.app.ref" />
      <package pattern="netstandard.library" />
      <package pattern="newtonsoft.json" />
      <package pattern="nuget.common" />
      <package pattern="nuget.configuration" />
      <package pattern="nuget.frameworks" />
      <package pattern="nuget.packaging" />
      <package pattern="nuget.protocol" />
      <package pattern="nuget.resolver" />
      <package pattern="nuget.versioning" />
      <package pattern="runtime.debian.8-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.fedora.23-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.fedora.24-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.native.system" />
      <package pattern="runtime.native.system.io.compression" />
      <package pattern="runtime.native.system.net.http" />
      <package pattern="runtime.native.system.security.cryptography.apple" />
      <package pattern="runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.opensuse.13.2-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.opensuse.42.1-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.system.security.cryptography.apple" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.rhel.7-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.ubuntu.14.04-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.ubuntu.16.04-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.ubuntu.16.10-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="system.appcontext" />
      <package pattern="system.buffers" />
      <package pattern="system.collections" />
      <package pattern="system.collections.concurrent" />
      <package pattern="system.collections.immutable" />
      <package pattern="system.componentmodel.composition" />
      <package pattern="system.composition" />
      <package pattern="system.composition.attributedmodel" />
      <package pattern="system.composition.convention" />
      <package pattern="system.composition.hosting" />
      <package pattern="system.composition.runtime" />
      <package pattern="system.composition.typedparts" />
      <package pattern="system.console" />
      <package pattern="system.diagnostics.debug" />
      <package pattern="system.diagnostics.diagnosticsource" />
      <package pattern="system.diagnostics.process" />
      <package pattern="system.diagnostics.tools" />
      <package pattern="system.diagnostics.tracing" />
      <package pattern="system.dynamic.runtime" />
      <package pattern="system.globalization" />
      <package pattern="system.globalization.calendars" />
      <package pattern="system.globalization.extensions" />
      <package pattern="system.io" />
      <package pattern="system.io.compression" />
      <package pattern="system.io.compression.zipfile" />
      <package pattern="system.io.filesystem" />
      <package pattern="system.io.filesystem.primitives" />
      <package pattern="system.io.pipelines" />
      <package pattern="system.linq" />
      <package pattern="system.linq.expressions" />
      <package pattern="system.memory" />
      <package pattern="system.net.http" />
      <package pattern="system.net.primitives" />
      <package pattern="system.net.sockets" />
      <package pattern="system.numerics.vectors" />
      <package pattern="system.objectmodel" />
      <package pattern="system.reflection" />
      <package pattern="system.reflection.emit" />
      <package pattern="system.reflection.emit.ilgeneration" />
      <package pattern="system.reflection.emit.lightweight" />
      <package pattern="system.reflection.extensions" />
      <package pattern="system.reflection.metadata" />
      <package pattern="system.reflection.primitives" />
      <package pattern="system.reflection.typeextensions" />
      <package pattern="system.resources.resourcemanager" />
      <package pattern="system.runtime" />
      <package pattern="system.runtime.compilerservices.unsafe" />
      <package pattern="system.runtime.extensions" />
      <package pattern="system.runtime.handles" />
      <package pattern="system.runtime.interopservices" />
      <package pattern="system.runtime.interopservices.runtimeinformation" />
      <package pattern="system.runtime.numerics" />
      <package pattern="system.runtime.serialization.primitives" />
      <package pattern="system.security.accesscontrol" />
      <package pattern="system.security.cryptography.algorithms" />
      <package pattern="system.security.cryptography.cng" />
      <package pattern="system.security.cryptography.csp" />
      <package pattern="system.security.cryptography.encoding" />
      <package pattern="system.security.cryptography.openssl" />
      <package pattern="system.security.cryptography.primitives" />
      <package pattern="system.security.cryptography.protecteddata" />
      <package pattern="system.security.cryptography.x509certificates" />
      <package pattern="system.security.permissions" />
      <package pattern="system.security.principal.windows" />
      <package pattern="system.text.encoding" />
      <package pattern="system.text.encoding.codepages" />
      <package pattern="system.text.encoding.extensions" />
      <package pattern="system.text.regularexpressions" />
      <package pattern="system.threading" />
      <package pattern="system.threading.tasks" />
      <package pattern="system.threading.tasks.dataflow" />
      <package pattern="system.threading.tasks.extensions" />
      <package pattern="system.threading.thread" />
      <package pattern="system.threading.threadpool" />
      <package pattern="system.threading.timer" />
      <package pattern="system.valuetuple" />
      <package pattern="system.xml.readerwriter" />
      <package pattern="system.xml.xdocument" />
      <package pattern="tunnelvisionlabs.referenceassemblyannotator" />
      <package pattern="xunit" />
      <package pattern="xunit.abstractions" />
      <package pattern="xunit.analyzers" />
      <package pattern="xunit.assert" />
      <package pattern="xunit.core" />
      <package pattern="xunit.extensibility.core" />
      <package pattern="xunit.extensibility.execution" />
      <package pattern="xunit.runner.visualstudio" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="microsoft.codecoverage" />
      <package pattern="microsoft.net.test.sdk" />
      <package pattern="microsoft.testplatform.objectmodel" />
      <package pattern="microsoft.testplatform.testhost" />
    </packageSource>
  </packageSourceMapping>
</configuration>